<div class="example-wrapper">
  <div style="padding: 0px 5px 0px 10px">
    <span>SHOW/HIDE CALENDARS(5 Calenders Max)</span>
    <span style="float: right; cursor: pointer" (click)="closeConfig()">X</span>
  </div>

  <kendo-multiselect
    #list
    [popupSettings]="{ animate:false,width:auto}"
    [listHeight]="245"
    [checkboxes]="{ checkOnClick: false }"
    [autoClose]="true"
    [data]="data"
    [filterable]="true"
    [itemDisabled]="itemDisabled"
    [textField]="'text'"
    [valueField]="'value'"
    [(ngModel)]="value"
    [clearButton]="false"
    placeholder="Filter"
    (valueChange)="onValueChange($event)"
    (close)="preventClosingDropdown($event)"
  ></kendo-multiselect>
</div>
<!-----This element to preview the color and it's assignment sequence only and will ne removed in future.-->
<div style="position: absolute; bottom: 0px; right: 0px">
  <ul>
    <li *ngFor="let colr of colorData;let i=index">
      <h3
        [style.background-color]="colr"
        [style.border]="(lastSelectedValue===i)?'solid 2px':'solid 0px'"
      >
        {{colr+"-"+ i}}
      </h3>
    </li>
  </ul>
  <div>{{selectionCount}}</div>
  <ul>
    <ng-container *ngFor="let item of source">
      <li *ngIf="item.colorValue">
        <h3 [style.background-color]="item.colorValue">{{item.text}}</h3>
      </li>
    </ng-container>
  </ul>
</div>
